<style>
  .boxshadow1:hover{

    background-color: rgb(209, 245, 232);
    }
    .shadow1{
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .background1{
      box-shadow: rgba(112, 112, 236, 0.2) 0px 8px 24px;
    }

</style>





<div class="container mt-5 "  >
  <nav class="navbar navbar-expand-lg " style="background-color: rgb(18, 246, 162);">
    <div class="container-fluid">
      <img src="../assets/img/meta.png" alt="">
      <a class="navbar-brand" href="#">    </a>
      <a class="navbar-brand" href="#">MENU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Kategorie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>


          <li class="nav-item">
            <a class="nav-link">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<div class="container mt-5" >



  <div class="mb-5">
    <label >ToDo</label>
    <textarea #ok2  (keyup)=addTitle(ok2.value) style="width: 100%; height: 160px;" class="mb-3"  rows="3" value={{title}}></textarea>



  <button class="btn  " style="background-color: rgb(18, 246, 162);" *ngIf="showSpeichern" (click)="sendData()">SPEICHERN</button>
  <button class="btn  " style="background-color: rgb(18, 246, 162);" *ngIf="showUpdate" (click)="update2()">SPEICHERN</button>




<div class="container mt-5">

  <table class=" table" >
    <thead *ngIf="data.length!=0" style="background-color: rgb(18, 246, 162);">
      <tr>
        <th style="background-color: rgb(18, 246, 162);"scope="col">#</th>
        <th style="background-color: rgb(18, 246, 162);"scope="col">ToDo</th>

        <th style="background-color: rgb(18, 246, 162);"scope="col">Bearbeiten</th>
        <th style="background-color: rgb(18, 246, 162);"scope="col">Löschen</th>
        <th style="background-color: rgb(18, 246, 162);"scope="col">Status</th>


      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of data"  class="boxshadow1 "  >
        <th  class="background1" style="width: 3%;">{{data.indexOf(item)+1}}</th>


        <td class="mb-5 background1" style="width: 100%;" >{{item.title}}</td>



          <td ><button  class="btn "(click)='update1(data[data.indexOf(item)].id, data[data.indexOf(item)].title, data[data.indexOf(item)].text)' ><img src="../assets/img/edit1.png" style="width: 30px;" alt=""></button></td>
        <td ><button (click)=delete(data[data.indexOf(item)].id) class="btn "><img src="../assets/img/delete.png" style="width: 30px;" alt=""></button></td>
        <td ><div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">

          </label>
        </div></td>




      </tr>
<a href=""></a>

    </tbody>
  </table>
</div>







<!-- <button class="btn btn-primary" (click)='adList()' >Add</button> -->


<br><br><br>


<!--
  <div style="display: flex ; flex-wrap: wrap ">


      <div *ngFor="let item of data">


<div class="card" [style]="colorBlue" style="width: 18rem;  border: solid 1px black; margin:10px; background-color: rgb(236, 250, 241);">


  <img style="width: 18rem; height: 10rem" class="" src="./../assets/img/{{data.indexOf(item)}}.jpg" alt="">
  <div class="card-body" >
    <h5 class="card-title" style="padding:10px;">
      <h5>{{data[data.indexOf(item)].id}}</h5><br><br><br>
        <h3>Titel: </h3><br>
        <h5>{{data[data.indexOf(item)].title}}</h5><br><br><br>

        <h3>To Do: </h3><br>

          {{data[data.indexOf(item)].text}}
    </h5>
<div >
    <a style="margin:10px;" (click)='update1(data[data.indexOf(item)].id, data[data.indexOf(item)].title, data[data.indexOf(item)].text)' href="#" class="btn btn-primary" >Bearbeiten</a>  <a style="margin:10px;" href="#" (click)=delete(data[data.indexOf(item)].id) class="btn btn-primary">Löschen</a>
  </div>
  </div>
</div>

</div>
</div> -->





